/* media */
/* color */
/* animation menu */
/* animation loader */
@import url(//db.onlinewebfonts.com/c/4a0c1d6164df2c0aa88da1437cd38ef1?family=Calibre);
@import url(//db.onlinewebfonts.com/c/96881f7f853f14d6350ed1803e692a1f?family=Roslindale);
@keyframes opacity-1 {
  from {
    transform: translate3d(0, 100px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes rotate1 {
  from {
    transform: rotate(0);
    opacity: 1; }
  to {
    transform: rotate(-10deg);
    opacity: 0.5; } }

@keyframes bars {
  0% {
    transform: scaleY(0.5); }
  100% {
    transform: scaleY(1); } }

@keyframes disappear {
  to {
    visibility: hidden; } }

@keyframes clickbutton {
  to {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px; } }

@keyframes menuactive {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

/* line 55, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_animation.scss */
.btn:active > .progress__bar {
  animation: progress-bar 1000ms; }

@keyframes apparitionimage {
  0% {
    clip-path: inset(0% 5% 0% 5% round 10%); }
  17% {
    clip-path: inset(0% 4% 0% 4% round 8%); }
  24% {
    clip-path: inset(0% 3% 0% 3% round 6%); }
  46% {
    clip-path: inset(0% 2% 0% 2% round 4%); }
  100% {
    clip-path: inset(0% 1% 0% 0% round 0%); } }

/* line 1, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/base/_base.scss */
h1, h2, h3 {
  font-family: 'Roslindale'; }

/* line 5, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/base/_base.scss */
p {
  font-family: 'Calibre';
  text-transform: uppercase;
  font-style: normal;
  font-size: 17px;
  line-height: 141%; }

/* line 13, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/base/_base.scss */
body {
  width: 100%;
  min-width: 600px;
  max-width: 2000px;
  height: auto;
  margin: 0;
  overflow-x: hidden; }

/* line 23, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/base/_base.scss */
a {
  text-decoration: none;
  cursor: pointer; }

/* line 28, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/base/_base.scss */
*,
body,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth; }

/* line 1, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
header {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1;
  flex-wrap: nowrap;
  width: 100%; }
  /* line 8, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
  header nav {
    display: flex;
    flex-direction: row;
    margin-top: 3%; }
  /* line 13, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
  header .navbar {
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  /* line 20, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
  header a {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 141%;
    color: #181818;
    margin-right: 100px;
    text-overflow: clip;
    width: 120px; }
  /* line 32, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
  header .fa-magnifying-glass {
    color: #181818;
    left: 13.72%;
    right: 12.5%;
    top: 12.5%;
    bottom: 13.72%;
    margin: 0 20px 0 50px;
    transform: rotateY(180deg); }
  /* line 42, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
  header .fa-user {
    left: 12.5%;
    right: 12.5%;
    top: 8.33%;
    bottom: 8.33%;
    color: #181818; }
  /* line 50, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
  header button {
    background: #F2F2F4;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 30px;
    width: 123px;
    height: 55px;
    font-size: 17px;
    color: #181818;
    margin: 15px;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    box-shadow: 5px 5px #181818;
    margin-top: -50px; }
    /* line 165, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_mixins.scss */
    header button:active {
      animation: clickbutton 0.1s;
      animation-fill-mode: forwards; }
  /* line 55, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
  header #logo21 {
    width: 171px;
    height: 140px;
    margin-top: -20px;
    margin-left: 100px; }

/* line 65, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_header.scss */
#menunumero {
  display: flex;
  flex-direction: row;
  margin-top: -250px; }

/* line 1, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
footer {
  background-color: #181818;
  color: #FFFFFF;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; }
  /* line 8, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
  footer .footer-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px; }
    /* line 12, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
    footer .footer-section .footer-groupe {
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      margin-top: 50px; }
      /* line 17, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
      footer .footer-section .footer-groupe p {
        width: 483px;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 110%; }
    /* line 26, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
    footer .footer-section a {
      color: #FFFFFF;
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 141%;
      text-transform: uppercase; }
    /* line 36, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
    footer .footer-section .footer-liste {
      display: flex;
      flex-direction: row;
      margin: 10px; }
      /* line 40, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
      footer .footer-section .footer-liste .footer-liste1 {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 200px;
        align-items: flex-start;
        justify-content: flex-start; }
        /* line 46, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
        footer .footer-section .footer-liste .footer-liste1 a {
          margin-top: 40px; }
  /* line 52, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
  footer .explorer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px; }
    /* line 57, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
    footer .explorer h3 {
      margin-right: 30px;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 141%; }
    /* line 65, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
    footer .explorer .fa-arrow-right {
      margin-right: 30px; }
    /* line 68, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_footer.scss */
    footer .explorer a {
      color: #FFFFFF;
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 141%;
      text-transform: uppercase;
      margin-right: 30px; }

/* line 2, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_bd.scss */
header .buttonpagebd {
  background: #FFFFFF;
  border: 1px solid #181818;
  box-sizing: border-box;
  border-radius: 30px;
  width: 179px;
  height: 52px;
  font-size: 17px;
  color: #181818;
  margin: 15px;
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  box-shadow: 5px 5px #181818; }
  /* line 44, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_mixins.scss */
  header .buttonpagebd:active {
    animation: clickbutton 0.1s;
    animation-fill-mode: forwards; }

/* line 10, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_bd.scss */
.bd .bdrow {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  overflow-x: scroll; }
  /* line 15, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_bd.scss */
  .bd .bdrow .bdpresentation {
    display: flex;
    padding-top: 140px; }
    /* line 18, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_bd.scss */
    .bd .bdrow .bdpresentation .couverturebd {
      margin-right: -50px; }
  /* line 22, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_bd.scss */
  .bd .bdrow .bdimage {
    padding-top: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }

/* line 30, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_bd.scss */
.bd .bddescription {
  display: flex;
  flex-direction: column; }
  /* line 34, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_bd.scss */
  .bd .bddescription p {
    width: 550px;
    height: 117px;
    margin: 0 200px 0 100px; }
  /* line 39, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_bd.scss */
  .bd .bddescription h1 {
    width: 550px;
    height: 312px;
    font-style: normal;
    font-weight: 500;
    font-size: 130px;
    line-height: 80%;
    margin: 80px 200px 50px 100px; }

/* line 2, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
header .buttonpagearticle {
  background: #FFFFFF;
  border: 1px solid #181818;
  box-sizing: border-box;
  border-radius: 30px;
  width: 179px;
  height: 52px;
  font-size: 17px;
  color: #181818;
  margin: 15px;
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  box-shadow: 5px 5px #181818;
  margin-top: -20px; }
  /* line 44, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_mixins.scss */
  header .buttonpagearticle:active {
    animation: clickbutton 0.1s;
    animation-fill-mode: forwards; }

/* line 9, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
#article main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: -200px;
  margin-right: -300px;
  padding-left: 0;
  padding-right: 0; }
  /* line 19, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main article {
    width: 662px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
    /* line 24, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main article p {
      font-family: 'Roslindale';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      text-transform: none; }
  /* line 34, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    /* line 39, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .entete h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 130px;
      line-height: 80%;
      width: 710px;
      height: 208px;
      margin-top: 150px;
      margin-bottom: 30px; }
    /* line 49, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .entete p {
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 141%;
      width: 600px;
      height: 136px;
      margin-top: 0px;
      margin-bottom: 100px; }
    /* line 59, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .entete .imgprincipalcontainer {
      clip-path: inset(0% 5% 0% 5% round 10%);
      animation: apparitionimage 1s ease-in-out 1s 1 normal forwards;
      min-width: 1500px; }
  /* line 66, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part1 {
    display: flex;
    flex-direction: row;
    margin-top: 100px; }
    /* line 70, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part1 aside {
      position: absolute;
      left: 100px;
      width: 330px;
      display: flex;
      flex-direction: column;
      margin-top: 30px; }
      /* line 77, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part1 aside .journalist {
        display: flex;
        flex-direction: row;
        align-content: center; }
        /* line 82, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
        #article main .part1 aside .journalist p {
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          display: flex;
          flex-direction: column;
          margin-top: -5px; }
        /* line 90, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
        #article main .part1 aside .journalist img {
          margin-right: 20px;
          display: flex; }
  /* line 97, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part2 {
    margin-top: 30px;
    margin-bottom: 30px; }
    /* line 100, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part2 h3 {
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      font-size: 31px;
      line-height: 129%; }
  /* line 108, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part3 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row; }
    /* line 113, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part3 img {
      margin-left: -220px; }
    /* line 116, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part3 p {
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 141%;
      width: 378px;
      height: 97px;
      margin-top: 350px;
      margin-left: 50px; }
  /* line 128, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part4 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px; }
    /* line 133, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part4 aside {
      margin-top: 30px;
      position: absolute;
      left: 100px;
      width: 330px; }
      /* line 138, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part4 aside img {
        position: relative;
        filter: brightness(50%);
        border-radius: 30px;
        margin-left: -70px; }
      /* line 144, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part4 aside h3 {
        position: absolute;
        z-index: 1;
        color: white;
        font-family: 'Roslindale';
        font-style: normal;
        font-weight: 500;
        font-size: 31px;
        line-height: 129%;
        margin-left: -40px; }
      /* line 155, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part4 aside p {
        position: absolute;
        z-index: 1;
        top: 80px;
        color: white;
        font-family: 'Calibre';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 110%;
        margin-left: -40px;
        margin-right: 30px; }
      /* line 168, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part4 aside button {
        top: 150px;
        position: absolute;
        z-index: 1;
        margin-left: -40px;
        background: transparent;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 30px;
        width: 150px;
        height: 52px;
        font-size: 17px;
        color: #FFFFFF;
        font-family: 'Calibre';
        font-style: normal;
        font-weight: 700;
        box-shadow: 1px 1px 0 transparent, 2px 2px 0 transparent, 3px 3px 0 transparent, 4px 4px 0 transparent, 5px 5px 0.5px #FFFFFF; }
        /* line 119, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_mixins.scss */
        #article main .part4 aside button:active {
          animation: clickbutton 0.1s;
          animation-fill-mode: forwards; }
  /* line 180, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part5 {
    margin-top: 30px;
    margin-bottom: 30px; }
    /* line 183, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part5 .guillemets {
      display: flex;
      justify-content: center; }
    /* line 187, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part5 h2 {
      font-family: 'Roslindale';
      font-style: normal;
      font-weight: 500;
      font-size: 100px;
      line-height: 100%;
      text-align: center;
      margin-left: -350px; }
    /* line 196, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part5 p {
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 141%;
      text-transform: uppercase;
      text-align: center;
      margin-top: -100px; }
    /* line 206, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part5 .pillues {
      position: absolute;
      margin-left: -350px; }
      /* line 209, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part5 .pillues .pillues1 {
        position: absolute;
        left: 195px;
        top: 78px; }
      /* line 214, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part5 .pillues .pillues2 {
        position: absolute;
        left: 200px;
        top: 270px; }
      /* line 219, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part5 .pillues .pillues3 {
        position: absolute;
        left: 1050px;
        top: 330px; }
      /* line 223, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part5 .pillues .pillues4 {
        position: absolute;
        left: 1200px;
        top: 200px; }
      /* line 227, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part5 .pillues .pillues5 {
        position: absolute;
        left: 1170px;
        top: 49px; }
      /* line 231, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part5 .pillues .pillues6 {
        position: absolute;
        left: 926px;
        top: 200px; }
  /* line 238, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part6 {
    margin-top: 30px;
    margin-bottom: 30px; }
    /* line 241, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part6 h3 {
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      font-size: 31px;
      line-height: 129%; }
  /* line 249, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part7 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row; }
    /* line 254, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part7 .frameleft2 {
      margin-top: 300px;
      margin-left: -380px; }
    /* line 258, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part7 p {
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 141%;
      width: 378px;
      height: 97px;
      margin-top: 170px;
      margin-left: 100px;
      text-transform: none; }
  /* line 272, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part8 {
    margin-top: 30px;
    margin-bottom: 30px; }
    /* line 275, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part8 aside {
      position: absolute;
      left: 40px;
      width: 330px;
      display: flex;
      flex-direction: column; }
      /* line 281, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part8 aside .alireaussi {
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 330px;
        height: 120px;
        margin-bottom: 20px; }
        /* line 288, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
        #article main .part8 aside .alireaussi img {
          margin-right: 20px;
          margin-bottom: 20px;
          margin-top: 20px; }
        /* line 294, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
        #article main .part8 aside .alireaussi .alireaussidescription p {
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          margin-top: 20px; }
        /* line 301, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
        #article main .part8 aside .alireaussi .alireaussidescription h5 {
          font-family: 'Roslindale';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 140%;
          margin-top: -10px; }
  /* line 314, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  #article main .part9 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1440px;
    height: 677px;
    background: #FFEC00;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    /* line 323, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part9 .guillemets {
      margin-bottom: 100px; }
    /* line 326, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part9 h2 {
      font-family: 'Roslindale';
      font-style: normal;
      font-weight: 500;
      font-size: 100px;
      line-height: 100%; }
    /* line 333, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part9 p {
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 141%;
      text-align: center;
      margin-top: -50px; }
    /* line 342, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part9 .citationanim {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-areas: "art1 art2";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      margin-top: -150px;
      transition: 1s all 1s ease-in-out; }
      /* line 352, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part9 .citationanim:hover .animgauche {
        text-align: right; }
      /* line 355, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
      #article main .part9 .citationanim:hover .animdroite {
        text-align: left; }
    /* line 360, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part9 .citationanim > div {
      border: 10px dashed transparent; }
    /* line 364, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part9 .animgauche {
      grid-area: art1;
      text-align: center; }
    /* line 368, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    #article main .part9 .animdroite {
      grid-area: art2;
      text-align: center; }

/* line 377, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
.part10 {
  margin-top: 30px;
  margin-bottom: 30px; }
  /* line 380, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  .part10 i {
    font-size: 50px;
    position: relative;
    left: 650px;
    bottom: 130px; }

/* line 387, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
.part12 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  /* line 393, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  .part12 h2 {
    font-family: 'Roslindale';
    font-style: normal;
    font-weight: 500;
    font-size: 130px;
    line-height: 80%;
    width: 710px;
    height: 208px; }
  /* line 402, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  .part12 p {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 141%;
    width: 600px;
    height: 136px;
    margin-bottom: 120px; }

/* line 415, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
.footerarticle {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 94px; }
  /* line 420, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
  .footerarticle a {
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    color: grey;
    align-items: center; }
    /* line 428, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    .footerarticle a p, .footerarticle a h3 {
      display: flex;
      flex-direction: row;
      margin: 0px 10px; }
    /* line 433, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/pages/_articlenotrecorps.scss */
    .footerarticle a:hover {
      color: #FFFFFF; }

/* line 1, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
.fondyellow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #FFE631;
  width: 100%;
  min-height: 100%;
  min-width: 100%; }
  /* line 9, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
  .fondyellow .numero57img {
    opacity: 0;
    animation-name: opacity-1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    box-shadow: 2px 2px 5px grey; }
  /* line 17, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
  .fondyellow .numero57 {
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 116%;
    margin-bottom: 20px; }
  /* line 24, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
  .fondyellow .fondyellow-column {
    padding: 100px; }
  /* line 27, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
  .fondyellow h2 {
    color: #181818;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 116%;
    margin-top: 30px; }
  /* line 36, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
  .fondyellow h3 {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 141%;
    margin-top: 150px;
    margin-bottom: 20px; }
  /* line 46, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
  .fondyellow img {
    position: absolute;
    width: 710px;
    height: 498px;
    left: 639px;
    top: 216px; }
  /* line 53, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
  .fondyellow p {
    position: static;
    width: 442px;
    height: 79px;
    left: 0px;
    top: 145px;
    margin-top: 20px; }
  /* line 61, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
  .fondyellow .fondyellow-button {
    margin-left: -20px; }
    /* line 63, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
    .fondyellow .fondyellow-button .buttonwhite {
      background: #FFFFFF;
      border: 1px solid #181818;
      box-sizing: border-box;
      border-radius: 30px;
      width: 179px;
      height: 52px;
      font-size: 17px;
      color: #181818;
      margin: 15px;
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      box-shadow: 5px 5px #181818; }
      /* line 44, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_mixins.scss */
      .fondyellow .fondyellow-button .buttonwhite:active {
        animation: clickbutton 0.1s;
        animation-fill-mode: forwards; }
    /* line 66, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_fondyellow.scss */
    .fondyellow .fondyellow-button .buttonblack {
      background: #181818;
      border: 1px solid #181818;
      box-sizing: border-box;
      border-radius: 30px;
      width: 179px;
      height: 52px;
      font-size: 17px;
      color: #FFFFFF;
      margin: 15px;
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      box-shadow: 1px 1px #FFFFFF, 2px 2px #FFFFFF, 3px 3px #FFFFFF, 4px 4px #FFFFFF, 5px 5px 0.5px #181818; }
      /* line 144, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_mixins.scss */
      .fondyellow .fondyellow-button .buttonblack:active {
        animation: clickbutton 0.1s;
        animation-fill-mode: forwards; }

/* line 1, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
.articles {
  position: relative;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  margin-top: 200px;
  margin-left: 100px; }
  /* line 8, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles img:hover {
    animation: rotate1 1s ease-in-out;
    animation-fill-mode: forwards; }
  /* line 13, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .articles-titres {
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 129%;
    margin-top: 100px;
    margin-bottom: 50px; }
  /* line 23, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .articleenavant {
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 116%;
    margin-top: 10px;
    margin-bottom: 0px; }
  /* line 32, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 129%; }
  /* line 39, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles p {
    text-transform: uppercase;
    font-style: normal;
    font-size: 17px;
    line-height: 141%; }
  /* line 46, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv1 img {
    width: 486px;
    height: 532px; }
  /* line 50, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv3 img,
  .articles .couv2 img {
    width: 379px;
    height: 284px; }
  /* line 55, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv5 img,
  .articles .couv4 img {
    width: 270px;
    height: 284px; }
  /* line 60, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv {
    display: grid;
    height: 1500px;
    grid-template-areas: "couv1 couv2 couv2" "couv3 couv4 couv5";
    grid-template-columns: 500PX 250PX 250PX;
    grid-template-rows: 500PX 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 200px;
    margin-right: 50px; }
  /* line 73, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv1 {
    grid-area: couv1; }
    /* line 75, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
    .articles .couv1 h3,
    .articles .couv1 p {
      width: 486px;
      color: black; }
  /* line 82, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv2 {
    grid-area: couv2;
    margin-top: 50px;
    margin-left: 100px; }
    /* line 86, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
    .articles .couv2 h3,
    .articles .couv2 p {
      width: 379px; }
  /* line 92, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv3 {
    grid-area: couv3;
    margin-left: 40px;
    margin-top: 150px; }
    /* line 96, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
    .articles .couv3 h3,
    .articles .couv3 p {
      width: 379px;
      color: black; }
  /* line 102, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv4 {
    grid-area: couv4;
    margin-top: -100px;
    margin-right: 150px; }
    /* line 106, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
    .articles .couv4 h3,
    .articles .couv4 p {
      width: 270px; }
  /* line 111, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
  .articles .couv5 {
    grid-area: couv5;
    margin-top: 5px;
    margin-left: 50px; }
    /* line 115, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article.scss */
    .articles .couv5 h3,
    .articles .couv5 p {
      width: 270px; }

/* line 1, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
.articles2 {
  position: relative;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  margin-top: 200px;
  margin-left: 60px; }
  /* line 10, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 img:hover {
    animation: rotate1 1s ease-in-out;
    animation-fill-mode: forwards; }
  /* line 15, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 129%; }
  /* line 22, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 p {
    text-transform: uppercase;
    font-style: normal;
    font-size: 17px;
    line-height: 141%; }
  /* line 29, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .art1 img,
  .articles2 .art6 img {
    width: 270px;
    height: 284px; }
  /* line 35, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .art2 img,
  .articles2 .art3 img,
  .articles2 .art4 img,
  .articles2 .art5 img {
    width: 379px;
    height: 284px; }
  /* line 43, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .articles2-grid {
    display: grid;
    grid-template-areas: "art1 art2 art3" "art4 art5 art6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 100px; }
  /* line 53, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .art1 {
    grid-area: art1; }
    /* line 55, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
    .articles2 .art1 h3,
    .articles2 .art1 p {
      width: 270px; }
  /* line 60, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .art2 {
    grid-area: art2;
    margin-top: 100px;
    margin-left: -60px; }
    /* line 64, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
    .articles2 .art2 h3,
    .articles2 .art2 p {
      width: 379px; }
  /* line 69, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .art3 {
    grid-area: art3; }
    /* line 71, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
    .articles2 .art3 h3,
    .articles2 .art3 p {
      width: 379px; }
  /* line 76, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .art4 {
    grid-area: art4;
    margin-top: -200px; }
    /* line 79, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
    .articles2 .art4 h3,
    .articles2 .art4 p {
      width: 379px; }
  /* line 84, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .art5 {
    grid-area: art5; }
    /* line 86, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
    .articles2 .art5 h3,
    .articles2 .art5 p {
      width: 379px; }
  /* line 91, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
  .articles2 .art6 {
    grid-area: art6;
    margin-top: -200px; }
    /* line 94, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/layout/_article2.scss */
    .articles2 .art6 h3,
    .articles2 .art6 p {
      width: 270px; }

/* line 1, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_abonnement.scss */
.abonnement {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px; }
  /* line 11, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_abonnement.scss */
  .abonnement .abonnementexpl {
    display: flex;
    flex-direction: column; }
    /* line 14, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_abonnement.scss */
    .abonnement .abonnementexpl h2 {
      color: #FFFFFF;
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 117%;
      margin: 10px 0; }
    /* line 22, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_abonnement.scss */
    .abonnement .abonnementexpl .abonnement-expl-ligne {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      /* line 27, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_abonnement.scss */
      .abonnement .abonnementexpl .abonnement-expl-ligne img {
        margin: 0 15px 0 15px; }

/* line 37, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_abonnement.scss */
.abonnement-button {
  display: flex; }
  /* line 40, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_abonnement.scss */
  .abonnement-button .buttonwhite {
    background: #FFFFFF;
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 30px;
    width: 200px;
    height: 52px;
    font-size: 17px;
    color: #181818;
    margin: 15px;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    box-shadow: 1px 1px #181818, 2px 2px #181818, 3px 3px #181818, 4px 4px #181818, 5px 5px 0.5px #FFFFFF; }
    /* line 69, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_mixins.scss */
    .abonnement-button .buttonwhite:active {
      animation: clickbutton 0.1s;
      animation-fill-mode: forwards; }
  /* line 43, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_abonnement.scss */
  .abonnement-button .buttonblack {
    background: #181818;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    width: 235px;
    height: 52px;
    font-size: 17px;
    color: #FFFFFF;
    margin: 15px;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 700;
    box-shadow: 1px 1px #FFFFFF, 2px 2px #FFFFFF, 3px 3px #FFFFFF, 4px 4px #FFFFFF, 5px 5px 0.5px #181818; }
    /* line 94, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/utils/_mixins.scss */
    .abonnement-button .buttonblack:active {
      animation: clickbutton 0.1s;
      animation-fill-mode: forwards; }

/* line 1, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
footer {
  background-color: #181818;
  color: #FFFFFF;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; }
  /* line 8, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
  footer .footer-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px; }
    /* line 12, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
    footer .footer-section .footer-groupe {
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      margin-top: 50px; }
      /* line 17, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
      footer .footer-section .footer-groupe p {
        width: 483px;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 110%; }
    /* line 26, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
    footer .footer-section a {
      color: #FFFFFF;
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 141%;
      text-transform: uppercase; }
    /* line 36, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
    footer .footer-section .footer-liste {
      display: flex;
      flex-direction: row;
      margin: 10px; }
      /* line 40, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
      footer .footer-section .footer-liste .footer-liste1 {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 200px;
        align-items: flex-start;
        justify-content: flex-start; }
        /* line 46, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
        footer .footer-section .footer-liste .footer-liste1 a {
          margin-top: 40px; }
  /* line 52, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
  footer .explorer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px; }
    /* line 57, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
    footer .explorer h3 {
      margin-right: 30px;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 141%; }
    /* line 65, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
    footer .explorer .fa-arrow-right {
      margin-right: 30px; }
    /* line 68, ../../../../../Users/eleagravagna/Documents/cosavostra/XXI/css/sass/Layout/_footer.scss */
    footer .explorer a {
      color: #FFFFFF;
      font-family: 'Calibre';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 141%;
      text-transform: uppercase;
      margin-right: 30px; }

/*# sourceMappingURL=style.css.map */