@font-face {
    font-family: 'Calibre';
    src: local(calibre), url('/fonts/calibre/CalibreLight.otf') format("opentype");
  }


  
  @font-face {
    font-family: 'Roslindalecondensed';
    src: local(calibre), url('/fonts/Roslindale2/RoslindaleDisplayCondensed-Regular.otf') format("opentype");
  }
