.abonnement {
    background-color: $color-tertiary;
    display: flex;
    flex-direction: column;
    align-items: center;       
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    height: auto;
    .abonnementexpl {
        display: flex;
        flex-direction: column;
        h2 {
            color: $color-secondary;
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 117%;
            margin: 10px 0;
        }
        .abonnement-expl-ligne {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
            img {
                margin: 0 15px 0 15px;
            }
        }   

        }
    }



.abonnement-button {
    display: flex;

            .buttonwhite {
        @include button-white-bordwhite; 
            }
            .buttonblack {
            @include button-black-bordwhite;
            }
        }

@media screen and  (max-width: $mobile) {
    .abonnement {
        display: flex;
        flex-direction: column;
        .abonnement-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            .buttonwhite {
            font-size: 14px;
            width: 80%;
            }
            .buttonblack {
                font-size: 14px;
                width: 90%;
                }

        }
        .abonnementexpl {
            h2 {
            font-size: 25px;
            display: flex;
            flex-direction: column;
            text-align: center;
            
        }            
        .abonnement-expl-ligne {
                display: flex;
                flex-direction: column;
            }
        }
    }
}