.articles2 {
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  margin-top: 200px;
  margin-left: 60px;

  img:hover {
    animation: rotate1 1s ease-in-out;
    animation-fill-mode: forwards;
}

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 129%;
  }

  p {
    text-transform: uppercase;
    font-style: normal;
    font-size: 17px;
    line-height: 141%;
  }

  .art1 img,
  .art6 img {
    width: 270px;
    height: 284px;
  }

  .art2 img,
  .art3 img,
  .art4 img,
  .art5 img {
    width: 379px;
    height: 284px;
  }

  .articles2-grid {
      display: grid;
      grid-template-areas: "art1 art2 art3"
      "art4 art5 art6";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 100px;
      grid-row-gap: 100px; 
    }
    
    .art1 {
      grid-area: art1;
      h3, 
      p {
          width: 270px;
      }
    }
    .art2 {
      grid-area: art2;
      margin-top: 100px;
      margin-left: -60px;
      h3, 
      p {
          width: 379px;
      }
    }
    .art3 {
      grid-area: art3;
      h3, 
      p {
          width: 379px;
      }
    }
    .art4 {
      grid-area: art4;
      margin-top: -200px;
      h3, 
      p {
          width: 379px;
      }
    }
    .art5 {
      grid-area: art5;
        h3, 
        p {
            width: 379px;
        }
    }
    .art6 {
      grid-area: art6;
      margin-top: -200px;
      h3, 
      p {
          width: 270px;
      }
    }
}