.articles {
position: relative;
left: 0px;
top: 0px;
background: #FFFFFF;
margin-top: 200px;
margin-left: 100px;
  img:hover {
        animation: rotate1 1s ease-in-out;
        animation-fill-mode: forwards;
    }

  .articles-titres {
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 129%;
    
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .articleenavant {
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 116%;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 129%;
  }

  p {
    text-transform: uppercase;
    font-style: normal;
    font-size: 17px;
    line-height: 141%;
  }

    .couv1 img {
        width: 486px;
        height: 532px;
    }
    .couv3 img,
    .couv2 img{
        width: 379px;
        height: 284px;       
    }
    .couv5 img,
    .couv4 img {
        width: 270px;
        height: 284px;
    }
    .couv {
        display: grid;
        height: 1500px;
        grid-template-areas: "couv1 couv2 couv2"
        "couv3 couv4 couv5";
        grid-template-columns: 500PX 250PX 250PX;
        grid-template-rows: 500PX 1fr;
        grid-column-gap: 100px;
        grid-row-gap: 200px; 
        
        margin-right: 50px;
      }
    
      .couv1 {
        grid-area: couv1;
        h3, 
        p {
            width: 486px;
            color: black;
            
        }
      }
      .couv2 {
        grid-area: couv2;
        margin-top: 50px;
        margin-left: 100px;
        h3, 
        p {
            width: 379px;
        }
      }

      .couv3 {
        grid-area: couv3;
        margin-left: 40px;
        margin-top: 150px;
        h3, 
        p {
            width: 379px;
            color: black;
        }
      }
      .couv4 {
        grid-area: couv4;
        margin-top: -100px;
        margin-right: 150px;
        h3, 
        p {
            width: 270px;
        }
      }
      .couv5 {
        grid-area: couv5;
        margin-top: 5px;
        margin-left: 50px;
        h3, 
        p {
            width: 270px;
        }
      }
}