.articles2 {
  background: #FFFFFF;
  margin-top: 200px;
  margin-left: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
      .ligne1article2 {
        display: flex;
        flex-direction: row;
        width: 100%;
      }
      .ligne2article2 {
        display: flex;
        flex-direction: row;
        width: 100%;
      }


  img:hover {
    animation: rotate1 1s ease-in-out;
    animation-fill-mode: forwards;
}

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 129%;
  }

  p {
    text-transform: uppercase;
    font-style: normal;
    font-size: 17px;
    line-height: 141%;
  }

  .art1 img,
  .art6 img {
    width: 270px;
    height: 284px;
  }

  .art2 img,
  .art3 img,
  .art4 img,
  .art5 img {
    width: 379px;
    height: 284px;
  }

    
    .art1 {
      h3, 
      p {
          width: 270px;
      }
    }
    .art2 {
      margin-top: 100px;
      margin-left: 120px;
      h3, 
      p {
          width: 379px;
      }
    }
    .art3 {
      margin-left: 160px;
      h3, 
      p {
          width: 379px;
      }
    }
    .art4 {
      margin-top: 20px;
      h3, 
      p {
          width: 379px;
      }
    }
    .art5 {
      margin-left: 120px;
      margin-top: 170px;
        h3, 
        p {
            width: 379px;
        }
    }
    .art6 {
      margin-left: 160px;
      h3, 
      p {
          width: 270px;
      }
    }
}

@media screen and  (max-width: $mobile) {
  .articles2 {      

        .ligne1article2 {
          display: flex;
          flex-direction: column;
          margin-left: -80px;
          justify-content: center;
          img {
            width: 70%;
            height: auto;
          }
          h3 {
            font-size: 30px;
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
          }
          p {
            font-size: 14px;
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
          }

          .art1 {
            margin-top: -140px;
            padding-right: 50px;
          }
          .art2 {
          margin-top: 50px;
          margin-left: -31px;
          text-align: right;
          width: 100%;
          padding-left: 25px;
        }
          .art3 {
            margin-top: 30px;
            margin-left: 0px;
            padding-right: 50px;
          }
      }
        .ligne2article2 {
          display: flex;
          flex-direction: column;
          margin-left: -80px;
          justify-content: center;
          img {
            width: 70%;
            height: auto;
          }            
          h3 {
            font-size: 30px;
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
            }
          
          p {
            font-size: 14px;
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
          }
        .art4 {
          margin-top: 50px;
          margin-left: -31px;
          text-align: right;
          width: 100%;
          padding-left: 25px;
        }

        .art6 {
          margin-top: 50px;
          margin-left: -35px;
          text-align: right;
          width: 100%;
          padding-left: 20px;
        }

        .art5 {
          margin-top: 50px;
          margin-left: 0px;
          margin-bottom: 40px;
          padding-right: 40px;
        }
      }
    }
  }
