.fondyellow {
    display: flex;
    flex-direction: row;
    background-color: $color-primary;
    width: 100%;
    height: auto;
    margin-top: -303px;
    flex-wrap: nowrap;
    .numero57img {
        opacity: 0;
        animation-name: opacity-1;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        box-shadow: 2px 2px 5px grey;
    }
    .numero57 {
    margin-bottom: 20px;
    }
    .fondyellow-column {
        padding: 100px;
        margin-top: 10%;
    }
    h2 {
    color: #181818;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 116%;
    margin-top: 30px;
    }

    h3 {
    font-family: "Calibre";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 141%;
    margin-top: 150px;
    margin-bottom: 20px;
    }

    img {
        position: relative;
        width: 710px;
        height: 498px;
        top: 400px;
    }
    p {
        width: 442px;
        height: 79px;
        margin-top: 20px;
    }
    .fondyellow-button { 
        margin-left: -20px;  
        .buttonwhite {
       @include button-white; 
    }
        .buttonblack {
        @include button-black;
        }
    }
}

@media screen and  (min-width: $mobile) and (max-width: $tablet) {
    .fondyellow {
        display: flex;
        flex-direction: column;
        img {
            top: 40px;
            left: 50px;
        }
    }
}

@media screen and  (min-width: $tablet) and (max-width: $desktop) {
    .fondyellow {
        display: flex;
        flex-direction: column;
        img {
            top: 40px;
            left: 50px;
        }
    }
}

@media screen and  (max-width: $mobile) {

    .fondyellow {
        display: flex;
        flex-direction: column;
        margin-top: -403px;
        img {
            top: 40px;
            left: 40px;
            width: 80%;
            height: auto;
        }
        .fondyellow-column {
            padding: 16px;
            margin-top: 70%;

         }
            h2 {
            font-size: 50px;
        }  
            p {
                font-size: 14px;
                width: 100%;
                
            }

        .fondyellow-button {
            display: flex;
            flex-direction: row;
            .buttonwhite {
            width: 50%;
            font-size: 14px;
            }
            .buttonblack {
                width: 50%;
                font-size: 14px;
                }
        }
        }
    }


