.footerindex {
        background-color: $color-tertiary;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    .footer-section {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        margin-left: 40px;

        .footer-groupe {
            display: flex;
            flex-direction: column;
            margin-left: 60px;
            margin-top: 50px;
            p {
                width: 483px;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 110%;
                color: $color-secondary;
            }
        }

        a {
            color: $color-secondary;
            font-family: 'Calibre';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 141%;
            text-transform: uppercase;
        }

        .footer-liste {
            display: flex;
            flex-direction: row;
            margin: 10px;
            .footer-liste1 {
                display: flex;
                flex-direction: column;
                margin: 20px 40px 0 200px;
                align-items:flex-start;
                justify-content:flex-start;
                a {
                    margin-top: 40px ;
                }
            }
        }
    }
    .explorer {
        position: fixed;
        top: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 100px;
        background-color: $color-tertiary;
        width: 100%;
        h3 {
            margin-right: 30px;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 141%;
            color: $color-secondary;
        }

        .fa-arrow-right {
            margin-right: 30px;
            color: $color-secondary;
        }

        .fa-arrow-down-long {
            visibility: hidden;
        }
        a {
            color: $color-secondary;
            font-family: 'Calibre';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 141%;
            text-transform: uppercase;
            padding-right: 50px;
        }
    }
}

@media screen and  (max-width: $mobile) {
    .footerindex { 
        display: flex;
        flex-direction: column;
        .footer-section {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        .footer-groupe {
            display: flex;
            flex-direction: column;
            margin-left: 20px;  
            margin-right: 20px;
            margin-bottom: -52px;
            p {
               font-size: 15px;  
               width: 100%;
            }
            .footer-logo {
                display: flex;
                flex-direction: row;
            }
        }
        .footer-liste {
            display: flex;
            flex-direction: column;
            margin-left: -179px;
            margin-top: 50px;
            .footer-liste1 {
                margin-top: 0px;
                align-items: center;
                a {
                    margin-top: 12px;
                }
            }
        }
      }
      .explorer {
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: end;
          margin-bottom: 30px;
          .fa-arrow-down-long {
            visibility: visible;
            color: $color-secondary;
            margin-right: 28px;
            margin-top: -24px;
        }
          i {
              visibility: hidden;
          }
          h3 {
              margin-bottom: 15px;
          }
          a {
              padding-right: 30px;
          }
      }
    }
}