header {
    position:relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 30px;
    nav {
        display: flex;
        flex-direction: row;  
        width: 100%;
        justify-content: space-around;
        align-items: center;

    }
    .navbar {
        margin-left: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .listenumero {
            display: flex;
            flex-direction: column-reverse;
            margin-top: -100px;
            overflow: hidden;
            align-items: center;
            .lesnumeros {
                &:hover {
                    + #menunumero {
                        bottom: 700px;
                        
                    }
                    + .navbar {
                        position: relative;
                        top: 300px;
                    }
                }
            }
            #menunumero {
            display: flex;
            flex-direction: row;
            position: fixed;
            bottom: 1000px;
            background-color: #181818;
            color: white;
            width: 100%;
            height: 300px;
            align-items: center;
            }
        }
    }

    .sabonner {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    a {
        font-family: 'Calibre';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 141%;
        color: #181818;
        margin-right: 100px;
        text-overflow: clip;
        width: 120px;
        }    

    .fa-magnifying-glass {
        color: #181818;        
        left: 13.72%;
        right: 12.5%;
        top: 12.5%;
        bottom: 13.72%;
        margin: 0 20px 0 50px;
        transform: rotateY(180deg);
    }

    .fa-user {
        left: 12.5%;
        right: 12.5%;
        top: 8.33%;
        bottom: 8.33%;
        color: #181818;
    }

    button {
       @include button-grey;
      margin-top: 0px;

    }   
    #logo21 {
    width: 171px;
    height: 140px;
    margin-left: 100px;
    }
    


}




