header {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    nav {
        display: flex;
        flex-direction: row;  
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        flex-wrap: wrap;
    }

    .sabonner {
        display: flex;
        align-items: center;
    }

    a {
        font-family: 'Calibre';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 141%;
        color: #181818;
        margin-right: 130px;
        text-overflow: clip;
        width: 120px;
        }    

    .fa-magnifying-glass {
        color: #181818;        
        left: 13.72%;
        right: 12.5%;
        top: 12.5%;
        bottom: 13.72%;
        margin: 0 20px 0 50px;
        transform: rotateY(180deg);
    }

    .fa-user {
        left: 12.5%;
        right: 12.5%;
        top: 8.33%;
        bottom: 8.33%;
        color: #181818;
    }

    .buttonpageindex {
       @include button-grey;
    }   
    #logo21 {
    width: 171px;
    height: 140px;
    
    }
}



@media screen and  (min-width: $mobile) and (max-width: $tablet) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        .navbar {
        display: flex;
        flex-direction: column;
       margin-left: 60px;
       margin-top: 30px;

       .sabonner {
           margin-left: -185px;
       }
       .navbarlien {
        display: flex;
        flex-direction: column;       
        text-align: right;
       }
        }
    }
}

@media screen and  (min-width: $tablet) and (max-width: $desktop) {
        .fonctionnement {   
        h2 {
            font-size: 30px;
        }
        li {
            font-size: 20px;
        }
        ol {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

@media screen and  (max-width: $mobile) {
    header {       
        #logo21 {
            margin-left: -71px;
            margin-bottom: -50px;
            }
        display: flex;
        flex-direction: column; 
        align-items: center;
        .navbar {
        display: flex;
        flex-direction: column;
       margin-left: 60px;
       margin-top: -80px;

       .sabonner {
           margin-left: 100px;
           .buttonpageindex {
            width: 100%;
            font-size: 14px;
            }
       }
       .navbarlien {
        display: flex;
        flex-direction: column;       
        text-align: right;
        margin-left: 260px;
       }        
    }

}
}

