.headerarticle {
    .buttonpagearticle {
    @include button-white;
    margin-top: -20px;
    }
}

#article {
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        article {
            width: 662px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            p {
                font-family: 'Roslindale';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                text-transform: none;
            }
        }
    
        .entete {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            width: 100%;
            .titrearticleligne1 {
                margin-left: 150px;
            }
            h1 {
            font-style: normal;
            font-weight: 500;
            font-size: 130px;
            line-height: 80%;
            width: 710px;
            height: 208px;
            margin-top: 150px;
            margin-bottom: 30px;
            }
            p {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 141%;
            width: 600px;
            height: 136px;
            margin-top: 0px;
            margin-bottom: 100px;
            }
        .imgprincipalcontainer { 
            width: 100%;
            img {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                clip-path: inset(0% 5% 0% 5% round 10%);            
                animation: apparitionimage 1s ease-in-out 1s 1 normal forwards;
                display: flex;
                
            }
            
            }
        }
        .part1 {
            display: flex;
            flex-direction: row;
            margin-top: 100px;
            width: 100%;
            aside {
                position: absolute;
                width: 330px;
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                margin-left: 50px;
                .journalist {
                    display: flex;
                    flex-direction: row;
                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        display: flex;
                        flex-direction: column;
                        margin-top: -5px;
                    }
                    img {
                        margin-right: 20px;
                        display: flex;
                    }
                }
                .social {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100px;
                }
            }
     }
        .part2{
            margin-top: 30px;
            margin-bottom: 30px;
            width: 100%;
            h3 {
                font-family: 'Calibre';
                font-style: normal;
                font-weight: 700;
                font-size: 31px;
                line-height: 129%;
            }
        }
        .part3 {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            width: 100%;
            p {
                font-family: 'Calibre';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 141%;
                width: 378px;
                height: 97px;
                margin-top: 350px;
                margin-left: 3%;
            }
        }
        .part4 {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            margin-bottom: 30px;
            aside {
                margin-top: 30px;
                position: absolute;
                left: 100px;
                width: 330px;     
                 
                img {
                    position: relative;
                    filter: brightness(50%);
                    border-radius: 30px;
                    margin-left: -70px;
                    box-shadow: 5px 5px 5px rgb(221, 221, 221);   
                    }
                h3 {
                    position: absolute;
                    z-index: 1;
                    color: white;
                    font-family: 'Roslindale';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 31px;
                    line-height: 129%;
                    margin-left: -40px;
                }
                p {
                    position: absolute;
                    z-index: 1;
                    top: 80px;
                    color: white;
                    font-family: 'Calibre';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 110%;
                    margin-left: -40px;
                    margin-right: 30px;
                }
                button {
                    top: 150px;
                    position: absolute;
                    z-index: 1;
                    margin-left: -40px;
                    @include button-transparent-bordwhite;
                }
            }

        }  


        .part5 {
            margin-top: 30px;
            margin-bottom: 30px;
            .guillemets {
                display: flex;
                justify-content: center;
            }
            h2 {
                font-family: 'Roslindale';
                font-style: normal;
                font-weight: 500;
                font-size: 100px;
                line-height: 100%;
                text-align: center;
                margin-left: -350px;
            }
            p{
                font-family: 'Calibre';
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 141%;
                text-transform: uppercase;
                text-align: center;
                margin-top: -100px;
            }
            .pillues {
                position: absolute;
                margin-left: -350px;
                .pillues1 {
                    position: absolute;
                    left: 195px;
                    top: 78px;
                }
                .pillues2 {
                    position: absolute;
                    left: 200px;
                    top: 270px;
                }
                .pillues3 {
                    position: absolute;
                    left: 1050px;
                    top: 330px;}
                .pillues4 {
                    position: absolute;
                    left: 1200px;
                    top: 200px;}
                .pillues5 {
                    position: absolute;
                    left: 1170px;
                    top: 49px;}
                .pillues6 {
                    position: absolute;
                    left: 926px;
                    top: 200px;}
            }
        }

        .part6 {
            margin-top: 30px;
            margin-bottom: 30px;
            h3 {
                font-family: 'Calibre';
                font-style: normal;
                font-weight: 700;
                font-size: 31px;
                line-height: 129%;
            }
        }
        .part7 {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            width: 100%;
            .frameleft2 {
                    margin-top: 300px;
                    margin-right: 150px;
            
            }
            p {
                font-family: 'Calibre';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 141%;
                width: 378px;
                height: 97px;
                margin-top: 170px;
                margin-left: 100px;
                text-transform: none;
            }
        }

        .part8 {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            aside {
                display: flex;
                flex-direction: column;
                width: 330px;
                margin-left: 50px;
                position: absolute;
                .alireaussi {
                    display: flex;
                    flex-direction: row;
                    height: 120px;  
                    margin-bottom: 20px;                  
                    img {
                        margin-right: 20px;
                        margin-bottom: 20px;
                        margin-top: 20px;
                    }
                    .alireaussidescription {
                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        margin-top: 20px;
                    }

                    h5{
                        font-family: 'Roslindale';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        margin-top: -10px;
                    }
                }
            }
            }
        }

            .part9 {
                margin-top: 30px;
                margin-bottom: 30px;
                width: 1440px;
                height: 677px;
                background: #FFEC00;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                width: 100%;
                .guillemets {
                    margin-bottom: 100px;
                }
                h2{
                    font-family: 'Roslindale';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 100px;
                    line-height: 100%;
                }
                p{
                    font-family: 'Calibre';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 141%;
                    text-align: center;
                    margin-top: -50px;
                }
                .citationanim { 
                        display: grid;
                        width: 100%;
                        height: 100%;
                        grid-template-areas: "art1 art2";
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr;  
                        margin-top: -150px; 
                        transition: 1s all 1s ease-in-out;  
                        &:hover {
                            .animgauche {
                                text-align: right;
                              }
                              .animdroite {
                                text-align:left;
                              }
                        }             
                      }
                      .citationanim > div {
                        border: 10px dashed transparent;
                      }
                      
                      .animgauche {
                        grid-area: art1;
                        text-align: center;
                      }
                      .animdroite {
                        grid-area: art2;
                        text-align: center;
                        
                      }
                }
            }
        }

            .part10 {
                margin-top: 30px;
                margin-bottom: 30px;
                width: 100%;
                i {
                    font-size: 50px;
                    position: relative;
                    left: 650px;
                    bottom: 130px;
                }
            }

            .part11 {
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .part12 {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            width: 100%;
            background-color: white;

            h2 {
            font-family: 'Roslindale';
            font-style: normal;
            font-weight: 500;
            font-size: 130px;
            line-height: 80%;
            width: 710px;
            height: 208px;
            }
            p {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 141%;
            width: 600px;
            height: 136px;
            margin-bottom: 120px
            }
        } 



    .footerarticlecontain {
        width: 100%;
        background-color: $color-tertiary;
        height: 97px;
        margin-top: -30px;
        position: fixed;
        top: 94%;
        z-index: 1;
        .footertitreliste {
            height: 97px;
        h4 {
            padding: 0px 0px 0px 60px;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 141%;
            color: $color-secondary;
        }
        
        &:hover {
            opacity: 0;
            height: 0;
            width: 0;
            + .footerarticle {
                visibility: visible;            

            }
        }
    }
    .footerarticle {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 20px 0px;
        visibility: hidden;
        width: 100%;
        background-color: $color-tertiary;
        height: 97px;
        a {
            display: flex;
            flex-direction: row;
            margin: 0px 30px;
            display: flex;
            flex-direction: row;
            color: grey;
            align-items: center;                
            &:hover {
                color: $color-secondary;
            }
            
            p, h3 {
                display: flex;
                flex-direction: row;
                margin: 0px 10px;
            }

        }
    }

}