header {
    .buttonpagebd {
    @include button-white
    }
    
}

.bd {
    
.bdrow {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    overflow-x: scroll;
    .bdpresentation {
    display: flex;
    padding-top: 140px;
        .couverturebd {
            margin-right: -50px;
        }
    }        
    .bdimage {
        padding-top: 130px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        }
}

.bddescription {
    display: flex;
    flex-direction: column;
    
    p{
        width: 550px;
        height: 117px;
        margin: 0 200px 0 100px;
    }
    h1 {
        width: 550px;
        height: 312px;
        font-style: normal;
        font-weight: 500;
        font-size: 130px;
        line-height: 80%;
        margin: 80px 200px 50px 100px;
    }
}

}


@media screen and  (max-width: $mobile) {
        .headerbd {       
        #logo21 {
            margin-left: -121px;
            margin-bottom: -50px;
            }
        display: flex;
        flex-direction: column; 
        align-items: center;
        .navbar {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-top: -80px;
        display: flex;
        flex-direction: column;       
        text-align: right;
        margin-left: 240px;
   
    }
       .sabonner {
        padding-left: 115px;
           .buttonpagearticle {
            width: 100%;
            font-size: 14px;
            }
       }   
}

}